<head>
  <title>HTML ASSIGNMENT 1</title>
</head>

<body>
  <h1> html assignment 1</h1>
  <h2> I'm Lucina Ortiz</h2>
  <p>This is the first paragraph of my website.</p>
  <p>This is the second paragraph of my website.</p>
  </p><strong> Here is a list of names</strong>
  <li><em>Lucina</em> Hi</li>
  <li><i>Carolina</i></li>
<li><b>Cinthia</b>
  <p></p>
 <a href="https://https://gitlab.com/lucinaortiz1996/automation-testing">Clic to get acces to my gitlab</a>
  
  <h3>Example pre</h3>
  <pre>
  L
    U
      C
        Y
        </pre>
  <h3>Br</h3>
 <p>Dark Chocolate is better than White chocolate<br>you can notice the difference<br>when you eat it.</p>